<link rel="stylesheet" href="/static/style.css">

<div class="card">
    <h2 class="neon">📅 Agenda</h2>

    <form method="post">
        <input name="cliente_id" placeholder="ID Cliente"><br>
        <input type="date" name="data"><br>
        <input type="time" name="hora"><br>
        <input name="servico" placeholder="Serviço"><br>
        <button class="btn">Agendar</button>
    </form>

    <hr>

    {% for a in agendamentos %}
        <p>{{a[2]}} {{a[3]}} - {{a[4]}} ({{a[5]}})</p>
    {% endfor %}
</div>